# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
venv/
.venv/

# Obrázky
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.eps

# Pracovní soubory
*_temp.py
*_test.py
scratch*.py

# Vim
*~
*.swp
*.swo
*.swn
.mypy_cache/
